In [6]:
import pandas as pd
import requests

In [1]:
# Gather Data

In [20]:
url= 'https://www.worldometers.info/coronavirus/'
  
covid16_table = pd.read_html(url)
covid16_table = tables[0].fillna('0')
covid16_table.rename(columns = {'Country,Other':'Country', 'Serious,Critical':'Critical'},inplace = True) 
covid16_table.head(8)

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,ActiveCases,TotalRecovered,Critical
0,China,80652,+100,3070,28,22061,55521,5489
1,S. Korea,7041,+448,48,5,6875,118,36
2,Iran,5823,"+1,076",145,21,4009,1669,0
3,Italy,4636,0,197,0,3916,523,462
4,Germany,717,+47,0,0,699,18,9
5,France,716,+63,11,2,693,12,23
6,Diamond Princess,696,0,6,0,445,245,32
7,Spain,500,+99,10,2,460,30,9

In [21]:
covid16_table.transpose()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
Country,China,S. Korea,Iran,Italy,Germany,France,Diamond Princess,Spain,Japan,USA,...,Colombia,Costa Rica,Gibraltar,Vatican City,Liechtenstein,Malta,Peru,Serbia,Togo,Total:
TotalCases,80652,7041,5823,4636,717,716,696,500,435,335,...,1,1,1,1,1,1,1,1,1,104144
NewCases,+100,+448,"+1,076",0,+47,+63,0,+99,+15,+16,...,0,0,0,0,0,+1,0,0,0,2199
TotalDeaths,3070,48,145,197,0,11,6,10,6,17,...,0,0,0,0,0,0,0,0,0,3526
NewDeaths,28,5,21,0,0,2,0,2,0,2,...,0,0,0,0,0,0,0,0,0,60
ActiveCases,22061,6875,4009,3916,699,693,445,460,353,303,...,1,1,1,1,1,1,1,1,1,42059
TotalRecovered,55521,118,1669,523,18,12,245,30,76,15,...,0,0,0,0,0,0,0,0,0,58559
Critical,5489,36,0,462,9,23,32,9,28,8,...,0,0,1,0,0,0,0,0,0,6130

In [3]:
# Examine Data

In [2]:
# Clean Data