In [6]:
import pandas as pd
import requests

In [1]:
# Gather Data

In [20]:
url= 'https://www.worldometers.info/coronavirus/'
  
covid16_table = pd.read_html(url)
covid16_table = tables[0].fillna('0')
covid16_table.rename(columns = {'Country,Other':'Country', 'Serious,Critical':'Critical'},inplace = True) 
covid16_table.head(8)

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,ActiveCases,TotalRecovered,Critical
0,China,80652,+100,3070,28,22061,55521,5489
1,S. Korea,7041,+448,48,5,6875,118,36
2,Iran,5823,"+1,076",145,21,4009,1669,0
3,Italy,4636,0,197,0,3916,523,462
4,Germany,717,+47,0,0,699,18,9
5,France,716,+63,11,2,693,12,23
6,Diamond Princess,696,0,6,0,445,245,32
7,Spain,500,+99,10,2,460,30,9

In [3]:
# Examine Data

In [2]:
# Clean Data